{% extends 'base.html' %}

{% block content %}
    <form class="mb-3" method="POST">
        <div class="mb-3">
            <label class="form-label" for="login">Логин:</label>
            <input class="form-control" type="text" id="login" name="login" placeholder="login" value="{{ request.form.login }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="pass">Пароль:</label>
            <input class="form-control" type="password" id="pass" name="pass" placeholder="pass">
        </div>
        <div class="mb-3">
            <input type="checkbox" id="remember" name="remember">
            <label class="form-label" for="remember">Запомнить меня</label>
        </div>
        <button class="btn btn-primary">Авторизоваться</button>
    </form>

{% endblock %}