{% extends 'base.html' %}

{% block content %}
    <h1>Форма ОС</h1>

    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="login">Логин</label>
            <input class="form-control" id="login" type="email" name="login" value="{{ request.form.get('login', '') }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Пароль</label>
            <input class="form-control" id="password" type="password" name="password" value="{{ request.form['password'] }}">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

    <table class="table">
        <tbody>
            {% for key, value in request.form.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
