<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>visits</title>
</head>
<body>
    <div class="container">
        <h1>there is page that shows how much visits do you have on this page</h1>
        <p>your visits: {{count_visit}}</p>
        <a href="{{url_for('home')}}" class="link-container">get back home</a>
    </div>
</body>
</html>